/* Default CSS Stylesheet for a new Web Application project */

BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-size:	1.45em;
	font-weight:	600;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-size:	1.25em;
	font-weight:	520;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-size:	1.1.em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-size:	1.1em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	




	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}

.FormTitle
{
	font-weight: bold;
	font-size: 8pt;
	color: "#003399";
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDEHeader
{
	font-size: 8pt;
	color: "#003399";
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDEButton
{
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDEField,.helptip
{
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDEInfo
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormHeader
{
	font-weight: bold;
	font-size: 12pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDEError
{
	font-size: 8pt;
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDESuccess {
    font-size: 8pt;
    color: black;
    background: lightgreen;
    padding: 4px 10px;
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormDEHint
{
	font-size: 7pt;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}
.charlimitinfo
{
	font-size: 9pt;
	font-weight:bold;
	color: white;
	background-color:#5E9DC8;
	font-family: Arial, Helvetica, sans-serif;
}

.FormMandatory
{
	font-size: 10pt;
	font-weight: bold;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}
.FormHeaderWhite
{
	font-size: 10pt;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormGrid
{
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FormGridAlternatingCell 
{ 
	BACKGROUND-COLOR: #e5ecf9 
}
.FormGridHeaderCell {
	font-weight: bold;
	BACKGROUND-COLOR: #575665;
}
.FormGridHeaderCell a {
	color: #FFF;
}
.FormGridPagerCell
{ 
	BACKGROUND-COLOR: white; 
	text-align: left; 
} 


.FormDEGrid
{
	font-size: 9pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.MemberHeader
{
	font-weight: bold;
	font-size: 10pt;
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.MemberHeaderSmall
{
	font-size: 5pt;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.MemberInfo
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.MemberInfoAlert
{
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.PageHeader
{
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.PageHeaderSmall
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.ReportHeader
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.pMemberInfo
{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pFormTitle
{
	font-weight: bold;
	font-size: 7pt;
	color: "#003399";
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pFormDEHeader
{
	font-size: 7pt;
	color: teal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pFormDEField
{
	font-size: 7pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pFormDEButton
{
	font-size: 7pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pFormGrid
{
	font-size: 7pt;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pFormDEHint
{
	font-size: 7pt;
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.ActiveInputControl
{
	background-color: #FFFFC0;
	color: black;
	font-weight: bold;
}
.JobSheetNormal
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.JobSheetBold
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.JobSheetLarger
{
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.adjustedZIndex 
{
    z-index: 1;
}
input:focus
{
    background:lightyellow;
}
textarea:focus
{
    background:lightyellow;
}
ul.ListHorizontal {
    margin-top: 25px;
    padding-left: 16px;
}
ul.ListHorizontal li {
    display: inline-block;
    margin-right: 15px;
}
ul.ListHorizontal a {
    font-size: 10pt;
}
