<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="GeoMap.Server" value="http://testenv.keycorp.net/GeoMap/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GMapAPIKey" value="ABQIAAAAI5hNPCthFt-dAGftPWoVBxQXlLBtfqr0IBMDs6v-BO7_Wy69kBQHsGMzIaOfhRKnyOXQ0UuIo7ztVQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <applicationSettings>
    <My.MySettings>
      <setting name="eCAMS_AuthWS_AuthService" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://testenv.keycorp.net/wseCAMS/AuthService.asmx</value>
      </setting>
      <setting name="eCAMS_eCAMS_DataWS_DataService" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://testenv.keycorp.net/wseCAMS/DataService.asmx</value>
      </setting>
    </My.MySettings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>