<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServerSideViewState" value="false" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="GeoMap.Server" value="http://testenv.keycorp.net/GeoMap/" />
    <add key="GeoMap.Server.test" value="http://testenv.keycorp.net/GeoMap/" />
    <add key="GeoMap.Server.live" value="http://services.keycorp.net/GeoMap/" />
    <add key="GMapAPIKey.testenv" value="" />
    <add key="GMapAPIKey.live" value="AIzaSyDA6L9nr7-D89wjt1_n2FXGFyYz8aQxspU" />
    <add key="GMapAPIKey" value="AIzaSyDA6L9nr7-D89wjt1_n2FXGFyYz8aQxspU" />
    <add key="MapSize.normal" value="width: 800px; height: 600px" />
    <add key="MapSize.small" value="width: 320px; height: 240px" />
    <add key="MapSize.large" value="width: 1024px; height: 768px" />
    <add key="MapSize" value="width: 800px; height: 600px" />
    <add key="MapSize.iphone" value="width: 310px; height: 400px" />
    <add key="ExcelExport.DateFormat" value="dd/MM/yyyy HH:mm:ss" />
    <add key="Download.RootPath" value="/FSPDownload/" />
    <add key="Download.AllowedFileTypes" value="doc,docx,pdf,zip" />
    <add key="Download.MaxFileSizeMB" value="50" />
    <add key="EnableWebChat" value="CBA|Chat_CBA,NAB|Chat_NAB,HIC|Chat_HIC" />
    <add key="EnableSelectMissingParts" value="NAB" />
    <add key="MissingPartsList" value="Battery,Power Supply,Cable/s,Base Cable Door,Terminal back cover,Printer lid,Sim card" />
    <add key="ComplaintsUrl" value="https://forms.office.com/Pages/ResponsePage.aspx?id=GV46FAsUMkaz6ucaFc3bjDfo-oOK84VGizBHooSBtuxUM1oxNURLMjRIVlJIRDJYMVhBRzVGSVVaNC4u" />
    <add key="WidgetId" value="4a4d6fcf-5fac-46ae-ba0d-81486880e68d" />
    <add key="ConnectSecretKey" value="zFdYArUMkIfFTgT0WEqCzBDmc46287H91mtaX5fnWxM=" />
  </appSettings>
  <applicationSettings>
    <My.MySettings>
      <setting name="eCAMS_AuthWS_AuthService" serializeAs="String">
        <value>http://localhost:3037/wseCAMS/AuthService.asmx</value>
      </setting>
      <setting name="eCAMS_eCAMS_DataWS_DataService" serializeAs="String">
        <value>http://localhost:3037/wseCAMS/DataService.asmx</value>
      </setting>
      <setting name="eCAMS_AuthWS_AuthService.test" serializeAs="String">
        <value>https://testenv.keycorp.net/wseCAMS/AuthService.asmx</value>
      </setting>
      <setting name="eCAMS_eCAMS_DataWS_DataService.test" serializeAs="String">
        <value>https://testenv.keycorp.net/wseCAMS/DataService.asmx</value>
      </setting>
      <setting name="eCAMS_AuthWS_AuthService.live" serializeAs="String">
        <value>https://services.keycorp.net/wseCAMS/AuthService.asmx</value>
      </setting>
      <setting name="eCAMS_eCAMS_DataWS_DataService.live" serializeAs="String">
        <value>https://services.keycorp.net/wseCAMS/DataService.asmx</value>
      </setting>
    </My.MySettings>
  </applicationSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="3.5" enableVersionHeader="false" />
    <!--<trace enabled="false" pageOutput="false"  localOnly="false"/>-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="On" defaultRedirect="~/Member/ErrorPage.aspx" />
    <siteMap defaultProvider="Menu_Client_Standard" enabled="true">
      <providers>
        <clear />
        <add name="Menu_Client_Standard" description="The SiteMap Provider for ClientStandard" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientStandard.sitemap" />
        <add name="Menu_Client_BOQ" description="The SiteMap Provider for Client BOQ" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientBOQ.sitemap" />
        <add name="Menu_Client_CTX" description="The SiteMap Provider for Client CTX" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientCTX.sitemap" />
        <add name="Menu_FSP_Standard" description="The SiteMap Provider for FSPStandard" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="FSPStandard.sitemap" />
        <add name="Menu_FSP_Admin" description="The SiteMap Provider for FSPAdmin" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="FSPAdmin.sitemap" />
        <add name="Menu_Client_CBA" description="The SiteMap Provider for Client CBA" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientCBA.sitemap" />
        <add name="Menu_Client_CBA_ReadOnly" description="The SiteMap Provider for Client CBA ReadOnly" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientCBAReadOnly.sitemap" />
        <add name="Menu_Client_BNZ_MID_Admin" description="The SiteMap Provider for Client CBA ReadOnly" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientBNZMIDAdmin.sitemap" />
        <add name="Menu_Client_TYR_Merchant_Read" description="The SiteMap Provider for Client TYR Merchant ReadOnly" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ClientTYRMerchantReadOnly.sitemap" />
        <!--
        <add name="Content_fr-FR" description="The SiteMap Provider for fr-FR Content" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="/Website/SiteMaps/Content_fr-FR.sitemap" />
        <add name="Properties_en-US" description="The SiteMap Provider for en-US Properties" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="/Website/SiteMaps/Properties_en-US.sitemap" />
        <add name="Properties_en-GB" description="The SiteMap Provider for en-GB Properties" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="/Website/SiteMaps/Content_en-GB.sitemap" />
        <add name="Properties_fr-FR" description="The SiteMap Provider for fr-FR Properties" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="/Website/SiteMaps/Properties_fr-FR.sitemap" />
        -->
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <sessionState timeout="60" />
    <!--<httpCookies requireSSL="true" />-->
  </system.web>
  <system.webServer>
    <handlers>
      <!--<add verb="GET" path="__ImageGrabber.axd" type="eCAMS.ImageGrabber" />-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--Clear is only required if the site does not work/>-->
        <clear />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  <rewrite>
    <outboundRules rewriteBeforeCache="true">
      <rule name="Add SameSite to Cookies">
        <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
        <action type="Rewrite" value="{R:0}; SameSite=Lax; Secure; HttpOnly" />
      </rule>
    </outboundRules>
  </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.4" newVersion="7.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.32.0.0" newVersion="6.32.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>