USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDAUpdateJobEquipment]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[spPDAUpdateJobEquipment] 
	(
		@UserID int,
		@JobID bigint,
		@Serial varchar(32),
		@MMD_ID varchar(5),
		@NewSerial varchar(32),
		@NewMMD_ID varchar(5),
		@Action smallint,
		@Status tinyint,
		@IsMerchantDamaged bit,
		@MerchantDamagedNote varchar(100)
	)
	AS
--<!--$$Revision: 28 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 14/11/07 5:10p $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDAUpdateJobEquipment.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Update Job Equipment from PDA. It only updates the device modified on PDA.
--- Handle on : 1. Update Qty of parts
---		2. Delete existing device
---		3. Add new device

DECLARE @ret int,
	@MySerial varchar(32),
	@MyMMD_ID varchar(5)

 --Update on existing job equipment
 IF @Status = 0 
  BEGIN

	IF @MMD_ID = 'P'
	 BEGIN
	 	--Parts
		EXEC @ret = dbo.spPDAUpdateJobParts 
			@UserID = @UserID,
			@JobID = @JobID,
			@PartID = @Serial,
			@Qty = @NewSerial

	 END
	ELSE
	 BEGIN
		--format serial if necessary
		EXEC @ret = dbo.spPDAReformatSerialNumber 
					@MMD_ID = @NewMMD_ID, 
					@Serial = @NewSerial OUTPUT

		--reformat MMD_ID based serial if necessary
		EXEC @ret = spPDAReformatMMD 
					@JobID = @JobID,
					@MMD_ID = @NewMMD_ID OUTPUT, 
					@Serial = @NewSerial

	 	--Device
		EXEC @ret = dbo.spPDAUpdateJobDevice 
			@UserID = @UserID,
			@JobID = @JobID,
			@Serial = @Serial,
			@MMD_ID = @MMD_ID,
			@NewSerial = @NewSerial,
			@NewMMD_ID = @NewMMD_ID,
			@Action = @Action
		--set merchant damaged if needs
		IF @Action = 2 AND (ISNULL(@IsMerchantDamaged, 0) = 1 OR ISNULL(@MerchantDamagedNote, '') <> '')
		 BEGIN
			SELECT @MySerial = CASE WHEN ISNULL(@NewSerial, '') <> '' THEN @NewSerial ELSE @Serial END,
					@MyMMD_ID = CASE WHEN ISNULL(@NewMMD_ID, '') <> '' THEN @NewMMD_ID ELSE @MMD_ID END

			 EXEC @ret = dbo.spPDASetMerchantDamaged 
							@UserID = @UserID,
							@JobID = @JobID,
							@Serial = @MySerial,
							@MMD_ID = @MyMMD_ID,
							@IsMerchantDamaged = @IsMerchantDamaged,
							@MerchantDamagedNote = @MerchantDamagedNote
		 END
	 END

  END

 --add new device
 IF @Status = 1
  BEGIN

	IF @MMD_ID = 'P'
	 BEGIN
	 	--Parts
		EXEC @ret = dbo.spPDAAddJobParts 
			@UserID = @UserID,
			@JobID = @JobID,
			@PartID = @Serial,
			@Qty = @NewSerial,
			@Action = @Action

	 END
	ELSE
	 BEGIN
		--format serial if necessary
		EXEC @ret = dbo.spPDAReformatSerialNumber 
					@MMD_ID = @MMD_ID,  
					@Serial = @Serial OUTPUT

		EXEC @ret = dbo.spPDAReformatSerialNumber 
					@MMD_ID = @NewMMD_ID, 
					@Serial = @NewSerial OUTPUT

		--reformat MMD_ID based serial if necessary
		EXEC @ret = spPDAReformatMMD 
					@JobID = @JobID,
					@MMD_ID = @MMD_ID OUTPUT, 
					@Serial = @Serial

		EXEC @ret = spPDAReformatMMD 
					@JobID = @JobID,
					@MMD_ID = @NewMMD_ID OUTPUT, 
					@Serial = @NewSerial

	 	--Device
		EXEC @ret = dbo.spPDAAddJobDevice 
			@UserID = @UserID,
			@JobID = @JobID,
			@Serial = @Serial,
			@MMD_ID = @MMD_ID,
			@NewSerial = @NewSerial,
			@NewMMD_ID = @NewMMD_ID,
			@Action = @Action

		--set merchant damaged if needs
		IF @Action = 2 AND (ISNULL(@IsMerchantDamaged, 0) = 1 OR ISNULL(@MerchantDamagedNote, '') <> '')
		 BEGIN
			 EXEC @ret = dbo.spPDASetMerchantDamaged 
							@UserID = @UserID,
							@JobID = @JobID,
							@Serial = @Serial,
							@MMD_ID = @MMD_ID,
							@IsMerchantDamaged = @IsMerchantDamaged,
							@MerchantDamagedNote = @MerchantDamagedNote
		 END

	 END

  END

 --delete device
 IF @Status = 2
  BEGIN

	IF @MMD_ID = 'P'
	 BEGIN
	 	--Parts
		EXEC @ret = dbo.spPDADelJobParts 
			@UserID = @UserID,
			@JobID = @JobID,
			@PartID = @Serial
	 END
	ELSE
	 BEGIN
	 	--Device
		EXEC @ret = dbo.spPDADelJobDevice 
			@UserID = @UserID,
			@JobID = @JobID,
			@Serial = @Serial,
			@MMD_ID = @MMD_ID,
			@Action = @Action
	 END

  END

GO
