USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDAUpdateJobDevice]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[spPDAUpdateJobDevice] 
	(
		@UserID int,
		@JobID bigint,
		@Serial varchar(32),
		@MMD_ID varchar(5),
		@NewSerial varchar(32),
		@NewMMD_ID varchar(5),
		@Action smallint
	)
	AS
--<!--$$Revision: 75 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 29/11/11 13:55 $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDAUpdateJobDevice.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Update Job Device from PDA. It only updates the device modified on PDA.
--- 29/09/2005: Add Alternative serial number search on device-out
--- 20/10/2005: Stop raising exception if the kit device has been unpacked and removed from inventory
--- 21/10/2005: Add spelling check to device-in
--- 29/11/2005: unpack kit and reserve kit components if kit serial number is scanned in
--- 21/12/2005: change the revoked location to job FSP location (ref. Task 539)
--- 04/04/2008: Task 1833: #3338: CHANGE TO SERIAL HANDLING RULES
--- 16/04/2008: Task 1851: #3461: NEED TO CONFIRM CLIENT ID ON A PDA UPLOAD

DECLARE @Note varchar(65),
	@ret int,
	@PrevSerial varchar(32),
	@PrevMMD_ID varchar(5),
	@ParentLocation int,
	@Location int,
	@Condition int,
	@SerialExt1 varchar(32),  ---used to convert the '' to TBA or SERIAL_NUMBER. These constants are trimed at downloading process.
	@SerialExt2 varchar(32),  ---used to convert the '' to TBA or SERIAL_NUMBER,
	@IsException bit,
	@Count int,
	
	@ClientID varchar(3),
	@TerminalID varchar(20),

	@FSPOperatorNumber int,
	
	@IsDone bit,

	@Require3DES bit,
	@RequireEMV bit,

	@COMPLIANCE_3DES tinyint,
	@COMPLIANCE_EMV tinyint,

	@Is3DES bit,
	@IsEMV bit,
	@NewIs3DES bit,
	@NewIsEMV bit,

	@SoftwareVersion varchar(20),
	@HardwareRevision varchar(20),
	@NewSoftwareVersion varchar(20),
	@NewHardwareRevision varchar(20),

	@TerminalSerial varchar(32),
	@TerminalMMD_ID varchar(5),
	@PrinterSerial varchar(32),
	@PrinterMMD_ID varchar(5),
	@PinpadSerial varchar(32),
	@PinpadMMD_ID varchar(5),

	@JobFSP int,
	@DeviceCount int,
	@JobExist bit

 --init
 SELECT @IsException = 0,
	@IsDone = 0,
	@Require3DES = 0,
	@RequireEMV = 0,
	@COMPLIANCE_3DES = 1,
	@COMPLIANCE_EMV = 2,
	@Is3DES = 0,
	@IsEMV = 0,
	@NewIs3DES = 0,
	@NewIsEMV = 0

 --Get Location for the user
 SELECT @Location = InstallerID
   FROM WebCAMS.dbo.tblUser
  WHERE UserID = @UserID

 SELECT @FSPOperatorNumber = -@Location


 SELECT @ParentLocation = ParentLocation
   FROM Locations_Master
  WHERE Location = @Location

 --cache Location Family
 SELECT * 
   INTO #myLocFamily
   FROM dbo.fnGetLocationFamily(@Location)

 --Create cache tables
 SELECT Serial,
	MMD_ID,
	Location,
	Is3DES,
	IsEMV,
	SoftwareVersion,
	HardwareRevision
  INTO #MyDeviceIn
  FROM Equipment_Inventory 
 WHERE 1 = 2


 SELECT Serial,
	MMD_ID,
	Is3DES,
	IsEMV,
	SoftwareVersion,
	HardwareRevision
  INTO #MyDeviceOut
  FROM Equipment_Inventory
 WHERE 1 = 2



 --***Get job details
 IF LEN(@JobID) = 11 
  --Swap Calls
  BEGIN
	--get call details
	SELECT @ClientID = ClientID,
		@TerminalID = TerminalID,
		@JobFSP = AssignedTo
	  FROM Calls
	 WHERE CallNumber = @JobID
	
	--set JobExist flag
	SELECT @JobExist = CASE WHEN @@ROWCOUNT = 1 THEN 1 ELSE 0 END

  END
 ELSE
  --IMS Jobs
  BEGIN
	--get job details
	SELECT @ClientID = ClientID,
		@TerminalID = CASE WHEN JobTypeID = 3 THEN OldTerminalID
				ELSE TerminalID END,
		@JobFSP = BookedInstaller
	 FROM  IMS_Jobs
	 WHERE JobID = @JobID

	--set JobExist flag
	SELECT @JobExist = CASE WHEN @@ROWCOUNT = 1 THEN 1 ELSE 0 END

	--convert empty serial number to TBA or SERIAL_NUMBER (The legacy things in CAMS).
	IF @Serial = ''
		SELECT @SerialExt1 = 'TBA', @SerialExt2 = 'SERIAL_NUMBER'
	ELSE
		SELECT @SerialExt1 = @Serial, @SerialExt2 = ''

  END

 --***validation
 --verify if the job belongs to this user
 IF EXISTS(SELECT 1 FROM #myLocFamily WHERE Location = @JobFSP)
  BEGIN
	--get device compliance requirements
	SELECT @Require3DES = dbo.fnJobDeviceRequireCompliantDevice(@JobID, @NewMMD_ID, @COMPLIANCE_3DES),
		@RequireEMV = dbo.fnJobDeviceRequireCompliantDevice(@JobID, @NewMMD_ID, @COMPLIANCE_EMV)


	--The device to be added is an installation (Serial/MMD_ID is device out, NewSerial/NewMMD_ID is device in)
	IF @Action = 1 
	 BEGIN
		--caceh device in
		INSERT INTO #MyDeviceIn
		 SELECT Serial,
 			MMD_ID,
			Location,
			Is3DES,
			IsEMV,
			SoftwareVersion,
			HardwareRevision
		  FROM Equipment_Inventory 
	 	 WHERE Serial = @NewSerial 
				AND (@ClientID IN (SELECT * FROM dbo.fnGetSiteClientIDFromDeviceClientID(ClientID))   --FDI
						OR @ClientID = ClientID)   --FDI: mixed with some devices with CUS and some with FDI


		SELECT @DeviceCount = @@ROWCOUNT
		
		--no matching device found, try alternative serial number
		IF @DeviceCount = 0
		 BEGIN
			INSERT INTO #MyDeviceIn
			 SELECT ei.Serial,
	 			ei.MMD_ID,
				ei.Location,
				ei.Is3DES,
				ei.IsEMV,
				ei.SoftwareVersion,
				ei.HardwareRevision
			  FROM Equipment_Inventory ei JOIN dbo.fnGetAlternativeSerialNumber(NULL, @NewSerial) a 
							ON ei.Serial = a.Serial	AND ei.MMD_ID = a.MMD_ID
			 WHERE (@ClientID IN (SELECT * FROM dbo.fnGetSiteClientIDFromDeviceClientID(ei.ClientID))   --FDI
						OR @ClientID = ei.ClientID)   --FDI: mixed with some devices with CUS and some with FDI

			SELECT @DeviceCount = @@ROWCOUNT		
		 END


		--multiple deivces found
		IF @DeviceCount > 1
		 BEGIN
			--delete the device is not @NewMMD_ID
			DELETE #MyDeviceIn
			 WHERE @NewMMD_ID <> MMD_ID 

			--get new device count
			SELECT @DeviceCount = COUNT(*) FROM #MyDeviceIn
		 END

		IF @DeviceCount = 1
		 BEGIN
			IF NOT EXISTS(SELECT 1 FROM #MyDeviceIn my JOIN #myLocFamily l ON my.Location = l.Location
					WHERE ISNULL(Is3DES, 0) = CASE WHEN @Require3DES = 1 THEN 1 ELSE ISNULL(Is3DES, 0) END
					AND ISNULL(IsEMV, 0) = CASE WHEN @RequireEMV = 1 THEN 1 ELSE ISNULL(IsEMV, 0) END)
			 --Not compliant , raise exception
			 BEGIN
			 	SELECT @IsException = 1
			 END

		 END
		ELSE
		 --device not in system or more than one serial number is system, raise exception
		 BEGIN
		 	SELECT @IsException = 1
		 END


		--unique matching and no exception
		IF @IsException = 0
		 BEGIN
			--unique device exists, refreh MMD_ID and Serial, in case device come from serial matching
			SELECT @NewMMD_ID = MMD_ID,
				@NewSerial = Serial
			  FROM #MyDeviceIn 

		 END


	 END --IF @Action = 1 '' install a new device

	--The recrod to be added is removal existing device (Serial/MMD_ID is device out, NewSerial/NewMMD_ID is empty)
	IF @Action = 2
	 BEGIN
		--verify if the device is on site
		INSERT INTO #myDeviceOut
	        SELECT Serial,
			MMD_ID,
			Is3DES,
			IsEMV,
			SoftwareVersion,
			HardwareRevision
		  FROM Site_Equipment
		 WHERE Serial = @NewSerial 
			AND ClientID = @ClientID
			AND TerminalID = @TerminalID

		SELECT @DeviceCount = @@ROWCOUNT

		--No device found, try alternative serial
		IF @DeviceCount = 0
		 BEGIN
			INSERT INTO #myDeviceOut
		        SELECT se.Serial,
				se.MMD_ID,
				se.Is3DES,
				se.IsEMV,
				se.SoftwareVersion,
				se.HardwareRevision
			   FROM Site_Equipment se JOIN dbo.fnGetAlternativeSerialNumber(NULL, @NewSerial) a
							ON se.Serial = a.Serial AND se.MMD_ID = a.MMD_ID
			WHERE ClientID = @ClientID
				AND TerminalID = @TerminalID
	
			SELECT @DeviceCount = @@ROWCOUNT
		 END		

		IF @DeviceCount = 1
		 --only one device found, get the mmd_id
		 BEGIN
			SELECT @NewMMD_ID = MMD_ID,
				@NewSerial = Serial
			 FROM #myDeviceOut
		 END
		ELSE
		 --flag the exception
		 BEGIN
			--apply exception handling on device out
			EXEC @ret = dbo.spPDAApplyExceptionRuleOnDeviceOut 
					@JobID = @JobID,
					@MMD_ID = @NewMMD_ID OUTPUT,
					@Serial = @NewSerial OUTPUT,
					@FSPOperatorNumber = @FSPOperatorNumber,
					@IsDone = @IsDone OUTPUT

			IF @ret <> 0 
				GOTO RollBack_Handle

			SELECT @IsException = CASE @IsDone WHEN 1 THEN 0 ELSE 1 END

		 END
	 END --IF @Action = 2 ''remove the existing device

   END --job exists


 --get compliance/version info
 SELECT @Is3DES = Is3DES,
	@IsEMV = IsEMV,
	@SoftwareVersion = SoftwareVersion,
	@HardwareRevision = HardwareRevision
  FROM #myDeviceOut

 SELECT @NewIs3DES = Is3DES,
	@NewIsEMV = IsEMV,
	@NewSoftwareVersion = SoftwareVersion,
	@NewHardwareRevision = HardwareRevision
  FROM #myDeviceIn


 --***Actions  

 --Start Transaction
 DECLARE @bInCallerTransaction bit
 SET @bInCallerTransaction = @@TRANCOUNT
 IF @bInCallerTransaction = 0
	BEGIN TRAN

 IF LEN(@JobID) = 11 
  --Swap Calls
  BEGIN
	--verify if the job is belong to this user
	IF EXISTS(SELECT 1 FROM #myLocFamily WHERE Location = @JobFSP)
	 BEGIN
		--Install new device
		IF @Action = 1 
		 BEGIN
			--** Change on swap-in device: 
			--**  1. Free up the previous swap-in device
			--**  2. If the swap-in device is in inventory, reserve the device
			--**	  Get the new mmd_id if the device with unique serial number
			--**	  in inventory but different mmd_id
			--**  3. If the swap-in device is NOT in inventory, log exception
			--**  4. Update the swap-in device with PDA scanned serial/mmd_id

			--free up the previous new equipment
			SELECT @PrevSerial = NewSerial,
				@PrevMMD_ID = NewMMD_ID
			  FROM Call_Equipment
			 WHERE CallNumber = @JobID
				AND NewSerial = @Serial
				AND NewMMD_ID = @MMD_ID
	
			SELECT @ret = @@ERROR
			IF @ret <> 0 
				GOTO RollBack_Handle
	
			
			IF @IsException = 0	
			 --no exception
			 BEGIN

				--only free it up when it is in inventory	
				IF EXISTS(SELECT 1 FROM Equipment_Inventory WHERE Serial = @PrevSerial AND MMD_ID = @PrevMMD_ID)
				 BEGIN
					SELECT @Condition = LastCondition
						FROM Equipment_Inventory 
						WHERE Serial = @PrevSerial
							AND MMD_ID = @PrevMMD_ID
		
					IF @Condition = 9
						SELECT @Condition = dbo.fnGetRevokedDeviceDefaultCondition(@PrevMMD_ID)

					SELECT @Note = 'NO LONGER RESERVED FOR ' + CAST(@JobID as varchar)
		
					--free up the device only when it exists
					EXEC @ret = dbo.spChangeInventoryConditionLocation 
							@Serial = @PrevSerial,
							@MMD_ID = @PrevMMD_ID,
							@NewCondition = @Condition,
							@NewLocation = @JobFSP,
							@Note = @Note,
							@AddedBy = @FSPOperatorNumber
		
					 IF @ret <> 0 
						GOTO RollBack_Handle
		
				 END				
	

	
				--update the swap-in device with the serial scanned by PDA
				UPDATE Call_Equipment
				 SET NewSerial = @NewSerial,
					NewMMD_ID = @NewMMD_ID,
					Swapped = 1,
					NewSoftwareVersion = @NewSoftwareVersion,
					NewHardwareRevision = @NewHardwareRevision,
					NewIs3DES = @NewIs3DES,
					NewIsEMV = @NewIsEMV

				 WHERE CallNumber = @JobID
					AND NewSerial = @Serial
					AND NewMMD_ID = @MMD_ID
		
				 SELECT @ret = @@ERROR
				 IF @ret <> 0 
					GOTO RollBack_Handle

				--change loc/cond to reserve the device
				SELECT @Note = 'RESERVED FOR ' + CAST(@JobID as varchar)
				EXEC @ret = dbo.spChangeInventoryConditionLocation 
						@Serial = @NewSerial,
						@MMD_ID = @NewMMD_ID,
						@NewCondition = 9,
						@NewLocation = @Location,
						@Note = @Note,
						@AddedBy = @FSPOperatorNumber
		
				 IF @ret <> 0 
					GOTO RollBack_Handle

			 END
			ELSE
			 --there is an exception
			 BEGIN
				--log the exception - device to be installed is not in inventory
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 1, @PrevSerial, @PrevMMD_ID, @NewSerial, @NewMMD_ID, GetDate())

				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
				
			 END
	
		 END --IF @Action = 1 '' install a new device

		--Remove existing device
		IF @Action = 2
		 BEGIN
			--** Change on swap-out device
			--**  1. If the new swap-out device is NOT in site equipment, log an exception
			--**	 get new mmd_id if the device in on site with unique serial number but different mmd_id
			--**  2. Update the swap-out device with the serial PDA scanned 

			IF @IsException = 1
			 BEGIN
				--log the exception - device to be removed is not on site
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 2, @Serial, @MMD_ID, @NewSerial, @NewMMD_ID, GetDate())

				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
			 END
			ELSE
			 --no exception
			 BEGIN
				--update the swap-out device with new scanned serial number and mmdid
				UPDATE Call_Equipment
				 SET Serial = @NewSerial,
					MMD_ID = @NewMMD_ID,
					SoftwareVersion = @SoftwareVersion,
					HardwareRevision = @HardwareRevision,
					Is3DES = @Is3DES,
					IsEMV = @IsEMV
				 WHERE CallNumber = @JobID
					AND Serial = @Serial
					AND MMD_ID = @MMD_ID
		
				 SELECT @ret = @@ERROR
				 IF @ret <> 0 
					GOTO RollBack_Handle
			 END	

		 END --IF @Action = 2 ''remove the existing device
	
	 END --job exists
	ELSE
	 BEGIN
		IF @JobExist = 1
		 BEGIN
			--job does exist but not belong to this user, log the exception
			IF @Action = 1
			 BEGIN
				--PDASerial is device-in
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 9, 'PDASerial IN', null, @NewSerial, @NewMMD_ID, GetDate())
	
				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
	
			 END

			IF @Action = 2
			 BEGIN
				--PDASerial is device-out
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 9, 'PDASerial OUT', null, @NewSerial, @NewMMD_ID, GetDate())
	
				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
			 END		
		 END
		--otherwise, no need to log the exception
	 END -- job does not exist
  END -- swap job
 ELSE
  --IMS Jobs
  BEGIN
	--verify if the job exists
	IF EXISTS(SELECT 1 FROM #myLocFamily WHERE Location = @JobFSP)
	 BEGIN
		--Install new device
		IF @Action = 1 
		 BEGIN
			--** Change on device to be installed
			--**  1. Free up the previous reserved device
			--**  2. Update the install device with the serial PDA scanned
			--**  3. If the new device is in inventory, reserve the device
			--**  4. If the new device is NOT in inventory, log an exception

			--free up the previous reserved equipment
			SELECT @PrevSerial = Serial,
				@PrevMMD_ID = MMD_ID
			  FROM IMS_Job_Equipment
			 WHERE JobID = @JobID
				AND Serial IN (@SerialExt1, @SerialExt2)
				AND MMD_ID = @MMD_ID
				AND ActionID = 1 --IN ('INSTALL', 'CONFIRM')
	
			 SELECT @ret = @@ERROR
			 IF @ret <> 0 
				GOTO RollBack_Handle
	
			
			IF @IsException = 0
			 BEGIN	
				--verify if @PrevSerial is null, this can happen at scenario as below
				---1. FSP scanned kit in PocketCAMS job grid (Kit serial, Terminal serial and Printer serial)
				---2. FSP found printer faulty
				---3. FSP scanned another printer to over write the faulty printer on PocketCAMS job grid
				---4. PocketCAMS prompts FSP to select a reason, FSP may select faulty
				---At this scenario, this proc will unpack kit and populate IMS Job Equuipment with devices from the kit
				---So no matching record found when trying to identify previous device because PocketCAMS only uploads the last choice of device
				---Therefore, we need to verify if @PrevSerial found here
				IF @PrevSerial IS NULL
				 BEGIN
					SELECT @PrevSerial = Serial,
						@PrevMMD_ID = MMD_ID
					  FROM IMS_Job_Equipment
					 WHERE JobID = @JobID
						AND MMD_ID = @MMD_ID
						AND ActionID = 1 -- IN ('INSTALL', 'CONFIRM')

					IF @PrevSerial IS NOT NULL
						SELECT @SerialExt2 = @PrevSerial
				 END

				IF EXISTS(SELECT 1 FROM Equipment_Inventory WHERE Serial = @PrevSerial AND MMD_ID = @PrevMMD_ID)
				 BEGIN
					--Is it part of Kit? If so, no need to release the device, just leave as it is
					--otherwise, release it
					IF EXISTS(SELECT 1 FROM Equipment_Kits WHERE (PinpadSerial = @PrevSerial AND PinpadMMD_ID = @PrevMMD_ID) 
											OR (PrinterSerial = @PrevSerial AND PrinterMMD_ID = @PrevMMD_ID) 
											OR (TerminalSerial = @PrevSerial AND TerminalMMD_ID = @PrevMMD_ID) )
		
					 BEGIN
						--in a kit, unpack it from PDA
						EXEC @ret = dbo.spPDAProcessKit 
							@UserID = @UserID,
							@Serial = @PrevSerial,
							@MMD_ID = @PrevMMD_ID,
							@IsFaultyOutOfBox = 0
	
						IF @ret <> 0
							GOTO RollBack_Handle
	
					 END

					--release the device
					SELECT @Condition = LastCondition
						FROM Equipment_Inventory 
						WHERE Serial = @PrevSerial
							AND MMD_ID = @PrevMMD_ID
	
					IF @Condition = 9
						SELECT @Condition = dbo.fnGetRevokedDeviceDefaultCondition(@PrevMMD_ID)

					SELECT @Note = 'NO LONGER RESERVED FOR ' + CAST(@JobID as varchar)
	
					--free up the device only when it exists
					EXEC @ret = dbo.spChangeInventoryConditionLocation 
							@Serial = @PrevSerial,
							@MMD_ID = @PrevMMD_ID,
							@NewCondition = @Condition,
							@NewLocation = @JobFSP,
							@Note = @Note,
							@AddedBy = @FSPOperatorNumber
		
					 IF @ret <> 0 
						GOTO RollBack_Handle

		
				 END				
	
				--only update if the device is not in job equipment. 
				--In case of kit, it goes in first and unpacks, so the device may already be populated
				IF NOT EXISTS(SELECT 1 FROM IMS_Job_Equipment 
								WHERE  JobID = @JobID
									AND Serial = @NewSerial
									AND MMD_ID = @NewMMD_ID
									AND ActionID = 1) -- IN ('INSTALL', 'CONFIRM')
				 BEGIN
					--update with the new equipment
					UPDATE IMS_Job_Equipment
					   SET Serial = @NewSerial,
						MMD_ID = @NewMMD_ID,
						Is3DES = @NewIs3DES,
						IsEMV = @NewIsEMV
					 WHERE JobID = @JobID
						AND Serial IN (@SerialExt1, @SerialExt2)
						AND MMD_ID = @MMD_ID
						AND ActionID = 1 --IN ('INSTALL', 'CONFIRM')
		
					 SELECT @ret = @@ERROR
					 IF @ret <> 0 
						GOTO RollBack_Handle
				 END

				--if it is a kit, we unpack it
				IF EXISTS(SELECT 1 FROM tblKit WHERE Kit_MMD_ID = @NewMMD_ID)
				 BEGIN
					--get kit details
					SELECT 	@TerminalSerial = TerminalSerial,
						@TerminalMMD_ID = TerminalMMD_ID,
						@PrinterSerial = PrinterSerial,
						@PrinterMMD_ID = PrinterMMD_ID,
						@PinpadSerial = PinpadSerial,
						@PinpadMMD_ID = PinpadMMD_ID
				 	FROM Equipment_Kits 
					WHERE KitSerial = @NewSerial
						AND KitMMD_ID = @NewMMD_ID
		
					--yes, it exists
					IF @@ROWCOUNT = 1 
					 BEGIN
						--do unpack the kit
						EXEC @ret = dbo.spUnPackKit 
							@UnPackCondition = 20,
							@KitSerial = @NewSerial,
							@KitMMD_ID = @NewMMD_ID,
							@TerminalSerial = @TerminalSerial,
							@TerminalMMD_ID = @TerminalMMD_ID,
							@PrinterSerial = @PrinterSerial,
							@PrinterMMD_ID = @PrinterMMD_ID,
							@PinpadSerial = @PinpadSerial,
							@PinpadMMD_ID = @PinpadMMD_ID,
							@Operator = @FSPOperatorNumber
		
						IF @ret <> 0 
						GOTO RollBack_Handle
		
					 END
				 END
		

				--Is it part of Kit? If so, no need to reserve the device, just leave as it is
				--otherwise, reserve it
				IF EXISTS(SELECT 1 FROM Equipment_Kits WHERE (PinpadSerial = @NewSerial AND PinpadMMD_ID = @NewMMD_ID) 
										OR (PrinterSerial = @NewSerial AND PrinterMMD_ID = @NewMMD_ID) 
										OR (TerminalSerial = @NewSerial AND TerminalMMD_ID = @NewMMD_ID) )
				 BEGIN
					--in a kit, unpack it from PDA
					EXEC @ret = dbo.spPDAProcessKit 
						@UserID = @UserID,
						@Serial = @NewSerial,
						@MMD_ID = @NewMMD_ID,
						@IsFaultyOutOfBox = 0

					IF @ret <> 0
						GOTO RollBack_Handle
				 END
				ELSE
				 BEGIN
					--not part of kit, reserve it
					SELECT @Note = 'RESERVED FOR INSTALL AT ' + @TerminalID + ' (JOB ' + CAST(@JobID as varchar) + ')'
	
					 --Update the device condition 9				
					EXEC @ret = dbo.spChangeInventoryConditionLocation 
							@Serial = @NewSerial,
							@MMD_ID = @NewMMD_ID,
							@NewCondition = 9,
							@NewLocation = @Location,
							@Note = @Note,
							@AddedBy = @FSPOperatorNumber
		
					 IF @ret <> 0 
						GOTO RollBack_Handle
					
				 END		
			 END
			ELSE	
			--process excpetion			
			 BEGIN
				--verify if it is a kit
				IF EXISTS(SELECT 1 FROM tblKit WHERE Kit_MMD_ID = @NewMMD_ID)
				 BEGIN
					--verify if the kit has been unpacked and removed from inventory
					--we should not raise any exception, but need to delete the PrevSerial/PrevMMD_ID from Job_Equipment
					IF EXISTS(SELECT 1 FROM Equipment_Kits_History 
							  WHERE KitSerial = @NewSerial 
								AND KitMMD_ID = @NewMMD_ID)
					 BEGIN
						--delete PrevSerial/PrevMMD_ID device from IMS_Job_Equipment
						DELETE IMS_Job_Equipment
						 WHERE JobID = @JobID
							AND Serial = @PrevSerial 
							AND MMD_ID = @PrevMMD_ID
							AND ActionID = 1 --IN ('INSTALL', 'CONFIRM')
	
						SELECT @ret = @@ERROR
						IF @ret <> 0 
							GOTO RollBack_Handle
	
						SET @IsException = 0												
						
					 END
				 END

				IF @IsException = 1
				 BEGIN
					--log the exception - device to be installed is not in inventory
					INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
						Values (@JobID, 1, @PrevSerial, @PrevMMD_ID, @NewSerial, @NewMMD_ID, GetDate())
	
					SELECT @ret = @@ERROR
					IF @ret <> 0 
						GOTO RollBack_Handle
				 END
			 END
		 END --@Action = 1  ''install new device

		--Remove existing device
		IF @Action = 2
		 BEGIN
			--if the new serial is empty, delete the item from job equipment, return
			IF RTRIM(ISNULL(@NewSerial, '')) = ''
			 BEGIN
				--delete the non-serialised item
				DELETE IMS_Job_Equipment
				 WHERE JobID = @JobID
					AND Serial IN (@SerialExt1, @SerialExt2)
					AND MMD_ID = @MMD_ID
					AND ActionID = 2 --'REMOVE'


				SELECT @ret = 0
				GOTO RollBack_Handle
			 END


			--** Change the device to be removed
			--**  1. If the device is on site with unique serial but different mmd_id, 
			--**	using the mmd_id frm site.
			--**	If the new device is NOT in site equipment, log an exception
			--**  2. Update the removal device with the serial PDA scanned 

			--process excpetion			
			IF @IsException = 1
			 BEGIN
				--log the exception - device to be removed is not on site
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 2, @Serial, @MMD_ID, @NewSerial, @NewMMD_ID, GetDate())

				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
			 END
			ELSE
			 BEGIN
				--update with the new serial and mmdid PDA scanned
				UPDATE IMS_Job_Equipment
				 SET Serial = @NewSerial,
					MMD_ID = @NewMMD_ID,
					Is3DES = @Is3DES,
					IsEMV = @IsEMV
				 WHERE JobID = @JobID
					AND Serial IN (@SerialExt1, @SerialExt2)
					AND MMD_ID = @MMD_ID
					AND ActionID = 2 --'REMOVE'
	
		
				 SELECT @ret = @@ERROR
				 IF @ret <> 0 
					GOTO RollBack_Handle
			 END

		 END --@Action = 2  ''remove existing device

	 END -- job exists
	ELSE
	 BEGIN
		IF EXISTS(SELECT 1 FROM IMS_Jobs WHERE JobID = @JobID)
		 BEGIN
			--job does exist but not belong to this user
			IF @Action = 1
			 BEGIN
				--PDASerial is device-in
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 9, 'PDASerial IN', null, @NewSerial, @NewMMD_ID, GetDate())
	
				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
			 END
	
			IF @Action = 2
			 BEGIN
				--PDASerial is device-out
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 9, 'PDASerial OUT', null, @NewSerial, @NewMMD_ID, GetDate())
	
				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle
			 END
		 END --job exists but not belong this user
		--otherwise, no need to log the exception

		
	 END -- job does not exist

  END --ims job

 --Commit
 IF @bInCallerTransaction = 0
	COMMIT TRAN


Exit_Handle:

 RETURN @ret

RollBack_Handle:
 IF @bInCallerTransaction = 0
	ROLLBACK TRAN

 GOTO Exit_Handle

GO
