USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDAReformatMMD]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[spPDAReformatMMD] 
	(
		@JobID bigint,
		@MMD_ID varchar(5) OUTPUT, 
		@Serial varchar(32)
	)
	AS
--<!--$$Revision: 5 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 20/07/04 11:21a $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDAReformatMMD.sql $-->
--<!--$$NoKeywords: $-->
/*
 Purpose: Reformt MMD_ID based on serial number for PDA upload
*/

 --CASE: WINP1 and WINP2
/*
updated list from Will on 20/07/2004
1715000 - 2185499 = WINP1, h/w 8bit
2190000 - 2190999 = WINP2, h/w 16bit1mb
2230000 - 2230999 = WINP1, h/w 8bit
2250000 - 2250499 = WINP2, h/w 16bit1mb
2250500 onwards = WINP2, h/w 16bit2mb
*/

 SET NOCOUNT ON
 DECLARE @HardwareRevision varchar(8),
	@EqHardwareRevision varchar(8),
	@NewMMD_ID varchar(5)


 IF @MMD_ID IN ('WINP1', 'WINP2')
  BEGIN
	--reload mmd_id and hardwarerevision
	--1715000 - 2185499 = WINP1, h/w 8bit
	IF LTRIM(@Serial) BETWEEN '1715000' AND '2185499'
	 BEGIN
		SELECT @NewMMD_ID = 'WINP1',
			@HardwareRevision = '8bit'
	 END

	--2190000 - 2190999 = WINP2, h/w 16bit1mb
	IF LTRIM(@Serial) BETWEEN '2190000' AND '2190999'
	 BEGIN
		SELECT @NewMMD_ID = 'WINP2',
			@HardwareRevision = '16bit1mb'
	 END

	--2230000 - 2230999 = WINP1, h/w 8bit	
	IF LTRIM(@Serial) BETWEEN '2230000' AND '2230999'
	 BEGIN
		SELECT @NewMMD_ID = 'WINP1',
			@HardwareRevision = '8bit'
	 END

	--2250000 - 2250499 = WINP2, h/w 16bit1mb
	IF LTRIM(@Serial) BETWEEN '2250000' AND '2250499'
	 BEGIN
		SELECT @NewMMD_ID = 'WINP2',
			@HardwareRevision = '16bit1mb'
	 END

	--2250500 onwards = WINP2, h/w 16bit2mb
	IF LTRIM(@Serial) >= '2250500' 
	 BEGIN
		SELECT @NewMMD_ID = 'WINP2',
			@HardwareRevision = '16bit2mb'
	 END

	IF @NewMMD_ID <> @MMD_ID 
	 BEGIN
		--log the change
		INSERT tblPDAExceptionRuleLog (JobID, MMD_ID, Serial, CaseID) 
			Values(@JobID, @MMD_ID, @Serial, 7)

		--update with new mmd_id
		SELECT @MMD_ID = @NewMMD_ID

	 END
	--set new hardwarerevision if there is a different
	--Equipment_Inventory
	SELECT @EqHardwareRevision = HardwareRevision 
	  FROM Equipment_Inventory
	 WHERE Serial = @Serial
		AND MMD_ID = @MMD_ID
	
	IF @@ROWCOUNT = 1
	 BEGIN
		IF ISNULL(@EqHardwareRevision, '') <> @HardwareRevision
		 BEGIN
			--hardware revision is different, set new one
			UPDATE Equipment_Inventory
			   SET HardwareRevision = @HardwareRevision
			 WHERE Serial = @Serial
				AND MMD_ID = @MMD_ID
		 END
		
		--return
		GOTO Return_Handle		
	 END

	--Equipment_History
	SELECT @EqHardwareRevision = HardwareRevision 
	  FROM Equipment_History
	 WHERE Serial = @Serial
		AND MMD_ID = @MMD_ID
		AND Location = 999
		AND Condition = 99
		AND DateOut IS NULL
	
	IF @@ROWCOUNT = 1
	 BEGIN
		IF ISNULL(@EqHardwareRevision, '') <> @HardwareRevision
		 BEGIN
			--hardware revision is different, set new one
			UPDATE Equipment_History
			   SET HardwareRevision = @HardwareRevision
			 WHERE Serial = @Serial
				AND MMD_ID = @MMD_ID
				AND Location = 999
				AND Condition = 99
				AND DateOut IS NULL

		 END
		
		--return
		GOTO Return_Handle
	 END

  END

Return_Handle:

 RETURN @@ERROR

/*

declare @MMD_ID varchar(5)
select @MMD_ID = 'WINP1'
exec spPDAReformatMMD 1234,@MMD_ID OUTPUT, '         2542397'
select @MMD_ID


*/


GO
