USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDADelJobDevice]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[spPDADelJobDevice] 
	(
		@UserID int,
		@JobID bigint,
		@Serial varchar(32),
		@MMD_ID varchar(5),
		@Action smallint
	)
	AS
--<!--$$Revision: 32 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 17/10/07 4:55p $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDADelJobDevice.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Delete existing device from ims job/calls
--- 26/10/2005: Amended device revoke-to location/Condition (Ref. Task 530)
--- 21/12/2005: Changed the revoked location to Job FSP location (Ref. Task: 539)
--- 26/09/2007: 3101 - MANAGING UPGRADE STOCK - CONDITION 18 - WebCAMS changes (Ref. Task 1523)

DECLARE @Note varchar(65),
	@ret int,
	@Location int,

	@LastLocation int,
	@LastCondition int,

	@IsException bit,

	@SerialExt1 varchar(32),  ---used to convert the '' to TBA or SERIAL_NUMBER. These constants are trimed at downloading process.
	@SerialExt2 varchar(32),  ---used to convert the '' to TBA or SERIAL_NUMBER,

	@NewSerial varchar(32),
	@NewMMD_ID varchar(5),
	
	@ClientID varchar(3),

	@FSPOperatorNumber int,

	@JobFSP int
	



 --init
 SELECT @IsException = 0



 --Get Location for the user
 SELECT @Location = InstallerID
   FROM WebCAMS.dbo.tblUser
  WHERE UserID = @UserID

 SELECT @FSPOperatorNumber = -@Location

 --Start Transaction
 DECLARE @bInCallerTransaction bit
 SET @bInCallerTransaction = @@TRANCOUNT
 IF @bInCallerTransaction = 0
	BEGIN TRAN


 IF LEN(@JobID) = 11 
  --Swap Calls
  BEGIN
	--verify if the job is belong to this user
	IF EXISTS(SELECT 1 FROM Calls WHERE AssignedTo IN (SELECT * FROM dbo.fnGetLocationFamily(@Location)) AND CallNumber = @JobID)
	 BEGIN
		SELECT @JobFSP = AssignedTo
		  FROM Calls
 		 WHERE CallNumber = @JobID

		--The device to be deleted is an installation
		IF @Action = 1 
		 BEGIN
			--then, we need to free it up, only do this when it is in inventory	
			IF EXISTS(SELECT 1 FROM Equipment_Inventory WHERE Serial = @Serial AND MMD_ID = @MMD_ID)
			 BEGIN
				SELECT @LastLocation = @JobFSP,
					@LastCondition = CASE WHEN LastCondition IN  (18, 19, 20) THEN LastCondition
								ELSE dbo.fnGetRevokedDeviceDefaultCondition(MMD_ID) END
				  FROM Equipment_Inventory 
				 WHERE Serial = @Serial
					AND MMD_ID = @MMD_ID
	

				SELECT @Note = 'NO LONGER RESERVED FOR ' + CAST(@JobID as varchar)
	
				--free up the device only when it exists
				EXEC @ret = dbo.spChangeInventoryConditionLocation 
						@Serial = @Serial,
						@MMD_ID = @MMD_ID,
						@NewCondition = @LastCondition,
						@NewLocation = @LastLocation,
						@Note = @Note,
						@AddedBy = @FSPOperatorNumber
	
				 IF @ret <> 0 
					GOTO RollBack_Handle
	
			 END				

			--update call equipment, set the new device to 'CONFIRM'
			UPDATE Call_Equipment
			   SET NewSerial = 'CONFIRM',
				Swapped = 0,
				NewIs3DES = 0,
				NewIsEMV = 0
			  WHERE CallNumber = @JobID
				AND NewSerial = @Serial
				AND NewMMD_ID = @MMD_ID


			SELECT @ret = @@ERROR
			IF @ret <> 0 
				GOTO RollBack_Handle


	
		 END --IF @Action = 1 '' install a new device

		--Remove existing device
		IF @Action = 2
		 BEGIN
			--verify if the new device has been removed yet. 
			--If not, we will remove this new device before delete the call equipment record
			SELECT @NewSerial = NewSerial,
				@NewMMD_ID = NewMMD_ID
			  FROM Call_Equipment
			  WHERE CallNumber = @JobID
				AND Serial = @Serial
				AND MMD_ID = @MMD_ID
			
			SELECT @ret = @@ERROR
			IF @ret <> 0 
				GOTO RollBack_Handle

			--free it up if it is in inventory
			IF EXISTS(SELECT 1 FROM Equipment_Inventory WHERE Serial = @NewSerial
									AND MMD_ID = @NewMMD_ID)
			 BEGIN
				SELECT @LastLocation = @JobFSP,
					@LastCondition = CASE WHEN LastCondition IN  (18, 19, 20) THEN LastCondition
								ELSE dbo.fnGetRevokedDeviceDefaultCondition(MMD_ID) END
				  FROM Equipment_Inventory 
				 WHERE Serial = @NewSerial
					AND MMD_ID = @NewMMD_ID

				SELECT @Note = 'NO LONGER RESERVED FOR ' + CAST(@JobID as varchar)
	
				--free up the device only when it exists
				EXEC @ret = dbo.spChangeInventoryConditionLocation 
						@Serial = @NewSerial,
						@MMD_ID = @NewMMD_ID,
						@NewCondition = @LastCondition,
						@NewLocation = @LastLocation,
						@Note = @Note,
						@AddedBy = @FSPOperatorNumber
	
				 IF @ret <> 0 
					GOTO RollBack_Handle
	
				--update call equipment, set the new device to 'CONFIRM'
				UPDATE Call_Equipment
				   SET NewSerial = 'CONFIRM',
					Swapped = 0,
					NewIs3DES = 0,
					NewIsEMV = 0
				  WHERE CallNumber = @JobID
					AND NewSerial = @NewSerial
					AND NewMMD_ID = @NewMMD_ID


				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle


			 END				

			--remove the record
			DELETE Call_Equipment
			 WHERE CallNumber = @JobID
				AND Serial = @Serial
				AND MMD_ID = @MMD_ID
				AND dbo.fnIsSerialisedDevice(NewSerial) = 0

			SELECT @ret = @@ERROR
			IF @ret <> 0 
				GOTO RollBack_Handle
			

		 END --IF @Action = 2 ''remove the existing device
	
	 END --job exists
	
  END -- swap job

 ELSE

  --IMS Jobs
  BEGIN
	--verify if the job exists
	IF EXISTS(SELECT 1 FROM IMS_Jobs WHERE BookedInstaller IN (SELECT * FROM dbo.fnGetLocationFamily(@Location)) AND JobID = @JobID)
	 BEGIN

		--convert empty serial number to TBA or SERIAL_NUMBER (The legacy things in CAMS).
		IF @Serial = ''
			SELECT @SerialExt1 = 'TBA', @SerialExt2 = 'SERIAL_NUMBER'
		ELSE
			SELECT @SerialExt1 = @Serial, @SerialExt2 = ''


		--get site info from ims job
		SELECT @ClientID = ClientID,
			@JobFSP = BookedInstaller
		 FROM  IMS_Jobs
		 WHERE JobID = @JobID

	
		SELECT @ret = @@ERROR
		IF @ret <> 0 
			GOTO RollBack_Handle


		--Install new device
		IF @Action = 1 
		 BEGIN

			--verify if the device is in inventory and free it up
			IF EXISTS(SELECT 1 FROM Equipment_Inventory WHERE Serial = @Serial 
									AND MMD_ID = @MMD_ID)

			 BEGIN

				--Is it part of Kit? If so, no need to release the device, just leave as it is
				--otherwise, release it
				IF EXISTS(SELECT 1 FROM Equipment_Kits WHERE (PinpadSerial = @Serial AND PinpadMMD_ID = @MMD_ID) 
										OR (PrinterSerial = @Serial AND PrinterMMD_ID = @MMD_ID) 
										OR (TerminalSerial = @Serial AND TerminalMMD_ID = @MMD_ID) )
				 BEGIN
					--in a kit, unpack it from PDA
					EXEC @ret = dbo.spPDAProcessKit 
						@UserID = @UserID,
						@Serial = @Serial,
						@MMD_ID = @MMD_ID,
						@IsFaultyOutOfBox = 0

					IF @ret <> 0
						GOTO RollBack_Handle
	
				 END
				SELECT @LastLocation = @JobFSP,
					@LastCondition = CASE WHEN LastCondition IN  (18, 19, 20) THEN LastCondition
								ELSE dbo.fnGetRevokedDeviceDefaultCondition(MMD_ID) END
				 FROM Equipment_Inventory
				WHERE Serial = @Serial
					AND MMD_ID = @MMD_ID


				SELECT @ret = @@ERROR
				IF @ret <> 0 
					GOTO RollBack_Handle


				SELECT @Note = 'NO LONGER RESERVED FOR ' + CAST(@JobID as varchar)

				--free up the device only when it exists
				EXEC @ret = dbo.spChangeInventoryConditionLocation 
						@Serial = @Serial,
						@MMD_ID = @MMD_ID,
						@NewCondition = @LastCondition,
						@NewLocation = @LastLocation,
						@Note = @Note,
						@AddedBy = @FSPOperatorNumber
	
				 IF @ret <> 0 
					GOTO RollBack_Handle



			 END			

			--remove this record
			DELETE IMS_Job_Equipment
			 WHERE JobID = @JobID
				AND Serial  IN (@SerialExt1, @SerialExt2)
				AND MMD_ID = @MMD_ID
				AND ActionID = 1 -- IN ('INSTALL', 'CONFIRM')
			
			SELECT @ret = @@ERROR
			IF @ret <> 0
				GOTO RollBack_Handle
	
		 END --@Action = 1  ''install new device

		--Remove existing device
		IF @Action = 2
		 BEGIN
			--remove this record
			DELETE IMS_Job_Equipment
			 WHERE JobID = @JobID
				AND Serial  IN (@SerialExt1, @SerialExt2)
				AND MMD_ID = @MMD_ID
				AND ActionID = 2 -- IN ('REMOVE')
			
			SELECT @ret = @@ERROR
			IF @ret <> 0
				GOTO RollBack_Handle


		 END --@Action = 2  ''remove existing device

	 END -- job exists
  END --ims job

 --Commit
 IF @bInCallerTransaction = 0
	COMMIT TRAN


Exit_Handle:

 RETURN @ret

RollBack_Handle:
 IF @bInCallerTransaction = 0
	ROLLBACK TRAN

 GOTO Exit_Handle

GO
