USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDASetMerchantDamaged]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[spPDASetMerchantDamaged] 
	(
		@UserID int,
		@JobID bigint,
		@Serial varchar(32),
		@MMD_ID varchar(5),
		@IsMerchantDamaged bit,
		@MerchantDamagedNote varchar(100)
	)
	AS
--<!--$$Revision: 2 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 30/10/07 12:59p $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDASetMerchantDamaged.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Set MerchantDamaged flag and add notes to ims job/calls
DECLARE @ret int,
	@JobNotes varchar(255)

    --init
    SELECT @ret = 0

    --check if the need to proceed
    IF ISNULL(@IsMerchantDamaged, 0) = 0 AND ISNULL(@MerchantDamagedNote, '') = ''
		RETURN @ret

	--Build up job notes
	IF @IsMerchantDamaged = 1 
     BEGIN
			--set IsMerchantDamaged to job equipment
			IF LEN(@JobID) = 11
			 BEGIN
				UPDATE Call_Equipment
				   SET IsMerchantDamaged = 1
				  WHERE CallNumber = @JobID
						AND Serial = @Serial
						AND MMD_ID = @MMD_ID
			 END
			ELSE
			 BEGIN
				UPDATE IMS_Job_Equipment
				   SET IsMerchantDamaged = 1
				  WHERE JobID = @JobID
						AND Serial = @Serial
						AND MMD_ID = @MMD_ID
						AND ActionID = 2
			 END
			--build notes
			SELECT @JobNotes = 'MerchantDamaged found by FSP:' + ISNULL(@Serial, '') + ', ' + ISNULL(@MMD_ID, '')  + ', ' + ISNULL(@MerchantDamagedNote, '')
     END

	IF ISNULL(@IsMerchantDamaged, 0) = 0 AND ISNULL(@MerchantDamagedNote, '') <> ''
     BEGIN
			SELECT @JobNotes = 'DeviceNotes reported by FSP:' + ISNULL(@Serial, '') + ', ' + ISNULL(@MMD_ID, '')  + ', ' + ISNULL(@MerchantDamagedNote, '')
     END

	EXEC @ret = spPDAAddJobNotes 
			@UserID = @UserID,
			@JobID = @JobID,
			@Notes = @JobNotes


   Return @ret


GO
