USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDASendFSPExceptionReport]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER Procedure [dbo].[spPDASendFSPExceptionReport] 
	(
		@UserID int,
		@JobID bigint
	)
	AS
--<!--$$Revision: 18 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 23/04/13 14:04 $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDASendFSPExceptionReport.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Send FSP exception report for a given jobid


DECLARE @ret int,
	@Serial varchar(32),
	@MMD_ID varchar(5),
	@PDASerial varchar(32),
	@PDAMMD_ID varchar(5),
	@Type varchar(255),
	@TypeID int,

	@FSPLocation int,
	@FSPParentLocation int,

	@FSPStockAddress varchar(500),

	@Msg varchar(7000),
	@CRLF varchar(2),
	@TAB varchar(1),
	@Subject varchar(200),
	@LogDate datetime

 --init
 SELECT @CRLF = CHAR(13) + CHAR(10),
	@TAB = CHAR(9)

 --verify the user
 SELECT @FSPLocation = InstallerID
   FROM webCAMS.dbo.tblUser
  WHERE UserID = @UserID

 IF @@ROWCOUNT = 0
  BEGIN
	RETURN 0
  END




 --cache exception for this job
 SELECT *
   INTO #myExp
   FROM tblPDAException
  WHERE JobID = @JobID

 SELECT @LogDate = UpdateDateTime 
   FROM #myExp
  WHERE TypeID NOT IN (9, 10, 12, 13, 14)


 IF @@ROWCOUNT < 1
  BEGIN
	--No exception return
	RETURN 0
  END



 --get FSP details
 SELECT @FSPParentLocation = ParentLocation,
	@FSPStockAddress = CASE WHEN Master.dbo.fnIsValidEmail(ISNULL(StockAddress, '')) = 1 THEN StockAddress ELSE '' END,
	@Subject = 'FSP-' + CAST(Location as varchar) + ' Pocket CAMS : Upload error for Job Number <' + CAST(@JobID as varchar) + '>'
   FROM Locations_Master 
  WHERE Location = @FSPLocation
	AND GetPDAExceptionReport = 1


 --FSP doesn't want to receive PDA exception report, return
 IF @@ROWCOUNT = 0
  BEGIN
	RETURN 0
  END

 --FSPParent StockAddress
 IF @FSPParentLocation IS NOT NULL
  BEGIN
	SELECT @FSPStockAddress = CASE WHEN Master.dbo.fnIsValidEmail(ISNULL(StockAddress, '')) = 1 THEN StockAddress ELSE '' END
	  FROM Locations_Master WHERE Location = @FSPParentLocation
  END



 --add test/dev email address
 IF EXISTS(SELECT 1 FROM tblControl WHERE Attribute = 'IsLiveDB' AND AttrValue = 'YES')
  BEGIN
	--SELECT @FSPStockAddress = 'StockControl@keycorp.net;' + @FSPStockAddress 
	SELECT @FSPStockAddress =  @FSPStockAddress 
  END
 ELSE
  BEGIN
	SELECT @FSPStockAddress = 'bli@keycorp.net'
  END

 --if no email address provided, return
 IF LTRIM(ISNULL(@FSPStockAddress, '')) = ''
	RETURN 0


 --Build PDA Exception report
 SELECT @Msg = 'An upload error (PDA Exception) occurred when this job was uploaded.' + @CRLF +  @CRLF +
		'Please contact the relevant EE Helpdesk team to confirm the closure details for this job.' + @CRLF +  @CRLF +
		'Job Closure uploaded by:  <' + CAST(@FSPLocation as varchar) + '> ' + @CRLF +
		'Job Closure uploaded at:  <' + CONVERT(Varchar, @LogDate, 103) + ' ' + CONVERT(Varchar, @LogDate, 108) + '> ' + @CRLF + @CRLF +
		'Exception details: ' + @CRLF



 --not send FSP with the exception type of 9 and 10
 DECLARE curPDAException CURSOR LOCAL FORWARD_ONLY FOR
	SELECT p.TypeID, t.Type, ISNULL(p.Serial, ''), ISNULL(p.MMD_ID, ''), ISNULL(p.PDASerial, ''), ISNULL(p.PDAMMD_ID, '')
	FROM #myExp p JOIN tblPDAExceptionType t ON p.TypeID = t.TypeID
	WHERE p.TypeID NOT IN (9, 10, 12, 13, 14)



 OPEN curPDAException
 WHILE 1 = 1 
  BEGIN
	FETCH NEXT FROM curPDAException 
		INTO @TypeID, @Type, @Serial, @MMD_ID, @PDASerial, @PDAMMD_ID

	IF @@FETCH_STATUS <> 0
		BREAK

	SELECT @Msg = @Msg + @TAB + 
			@Type +  ' Device details <' + 
			CASE WHEN @TypeID = 1 OR @TypeID = 2 OR @TypeID = 8 THEN 'Serial: ' + LTRIM(@PDASerial) + ', MMD: ' + @PDAMMD_ID
			     WHEN @TypeID = 3 OR @TypeID = 4 OR @TypeID = 5 THEN 'Serial: ' + LTRIM(@Serial) + ', MMD: ' + @MMD_ID
			     ELSE '' 
			END + '>' + @CRLF


	--if the message exceeds 6,500, send this email first, then continue on...
	IF LEN(@Msg) > 6500
	 BEGIN
		--send email
		EXEC master.dbo.upSendCDOsysMail 
			@From = 'SQLMail@keycorp.net', 
			@To = @FSPStockAddress, 
			@Subject = @Subject, 
			@Body = @Msg

		--reset @msg
		SELECT @Msg = 'Continue on the previous email' + @CRLF
	 END	
  END

 CLOSE curPDAException
 DEALLOCATE curPDAException


 --append notes
 SELECT @Msg = @Msg + @CRLF + 
		'Please note:  This exception e-mail has been produced by an automated service at EE.  Replies to this e-mail address will not be routed to an EE operator.  Please ensure that correct closure details are confirmed directly to the relevant EE Helpdesk by phone or e-mail.' + @CRLF +  @CRLF +
		'Reminder:  Please scan serial numbers wherever possible to prevent these errors from occurring.' + @CRLF

 --send email
 EXEC master.dbo.upSendCDOsysMail 
	@From = 'SQLMail@keycorp.net', 
	@To = @FSPStockAddress, 
	@Subject = @Subject, 
	@Body = @Msg


--print @Msg
 RETURN @@ERROR

GO
