USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDAUpdateJobEquipmentException]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[spPDAUpdateJobEquipmentException] 
	(
		@UserID int,
		@JobID bigint,
		@Serial varchar(32),
		@MMD_ID varchar(5),
		@NewSerial varchar(32),
		@NewMMD_ID varchar(5),
		@Action smallint,
		@Status tinyint
	)
	AS
--<!--$$Revision: 4 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 21/03/06 10:48a $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDAUpdateJobEquipmentException.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Failed to upload this update, so log it as exception for operator reference


 SET NOCOUNT ON

 --Update on existing job equipment
 IF @Status = 0 
  BEGIN
	IF @Action = 1
	 BEGIN
		--PDASerial is device-in
		INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
			Values (@JobID, 12, @Serial, @MMD_ID, @NewSerial, @NewMMD_ID, GetDate())

	 END

	IF @Action = 2
	 BEGIN
		--PDASerial is device-out
		INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
			Values (@JobID, 12, @Serial, @MMD_ID, @NewSerial, @NewMMD_ID, GetDate())
	 END

  END

 --add new device
 IF @Status = 1
  BEGIN
	IF LEN(@JobID) = 11
 	 BEGIN
		--Device-in for swap
		IF @Action = 1
		 BEGIN
			--PDASerial is device-in
			INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
				Values (@JobID, 12, 'PDASerial IN', null, @NewSerial, @NewMMD_ID, GetDate())

		 END

		--device-out for swap		
		IF @Action = 2
		 BEGIN
			--PDASerial is device-out
			INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
				Values (@JobID, 12, 'PDASerial OUT', null, @Serial, @MMD_ID, GetDate())
		 END

	 END
	ELSE
	 BEGIN
		--install device
		IF @Action = 1
		 BEGIN
			--PDASerial is device-in
			IF @NewSerial IS NULL OR LTRIM(@NewSerial) = ''
			 BEGIN
				--no serial in @NewSerial means it is device-in for install job
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 12, 'PDASerial IN', null, @Serial, @MMD_ID, GetDate())

			 END
			ELSE
			 BEGIN
				--@NewSerial not null means it is device-in for upgrade job
				INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
					Values (@JobID, 12, 'PDASerial IN', null, @NewSerial, @NewMMD_ID, GetDate())


			 END
			
		 END

		--remove device
		IF @Action = 2
		 BEGIN
			--PDASerial is device-out
			INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
				Values (@JobID, 12, 'PDASerial OUT', null, @Serial, @MMD_ID, GetDate())

			
		 END		

	 END




  END

 --delete device
 IF @Status = 2
  BEGIN
	INSERT tblPDAException (JobID, TypeID, Serial, MMD_ID, PDASerial, PDAMMD_ID, UpdateDateTime)
		Values (@JobID, 12, 'PDA Delete', null, @Serial, @MMD_ID, GetDate())


  END

GO
