USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDAReformatSerialNumber]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER Procedure [dbo].[spPDAReformatSerialNumber] 
	(
		@MMD_ID varchar(5), 
		@Serial varchar(32) OUTPUT
	)
	AS
--<!--$$Revision: 2 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 9/06/04 1:24p $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDAReformatSerialNumber.sql $-->
--<!--$$NoKeywords: $-->
/*
 Purpose: Reformt serial number for PDA upload
*/

 --Verifone and 9 numbers
 IF LEN(LTRIM(@Serial)) = 9 
	AND ISNUMERIC(LTRIM(@Serial)) = 1
	AND EXISTS(SELECT 1 FROM M_M_D WHERE Maker = 'VERIFONE' AND MMD_ID = @MMD_ID)
  BEGIN
	SELECT @Serial = SUBSTRING(LTRIM(@Serial), 1, 3) + '-' + SUBSTRING(LTRIM(@Serial), 4, 3) + '-' + SUBSTRING(LTRIM(@Serial), 7, 3)

  END

 --IF dbo.fnIsSerialisedDevice(@Serial) = 0
	--SELECT @Serial = REPLICATE(' ', 16-LEN(@Serial)) + @Serial


 RETURN @@ERROR

/*
declare @Serial varchar(32)
select @Serial = '       123456789'
exec spPDAReformatSerialNumber 'WVFI5', @Serial = @Serial OUTPUT
select @Serial, LEN(@SERIAL)

*/


GO
