USE [CAMS]
GO
/****** Object:  StoredProcedure [dbo].[spPDAProcessKit]    Script Date: 3/05/2018 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER  Procedure [dbo].[spPDAProcessKit] 
	(
		@UserID int,
		@Serial varchar(32),
		@MMD_ID varchar(5),
		@IsFaultyOutOfBox bit = 0
	)
	AS
--<!--$$Revision: 12 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 4/04/07 1:14p $-->
--<!--$$Logfile: /pCAMSSource/SQL/SP/spPDAProcessKit.sql $-->
--<!--$$NoKeywords: $-->
--Purpose: Process Kit on kit device
 --- if the caller is FaultyOutBox, NewConditionOfUnReservedDevice = 19, otherwise, NewConditionOfUnReservedDevice = 37
 --***step 1: remove the kit device from any job since it is virtual device
 --***step 2: unpack kit
 --***step 3: if kit parts are in other job equipment, we need to reserved them
 --***step 4: set kit device condition/location and move kit to history

-- 20/10/2005: Reduce intrim step (Condition 3) during kit-unpkack. 

DECLARE @ret int,
	@InvNote varchar(65),
	@JobID bigint,
	@TerminalID varchar(20),
	@Location int,
	@FSPOperatorNumber int,
	@KitSerial varchar(32),
	@KitMMD_ID varchar(5),
	@TerminalSerial varchar(32),
	@TerminalMMD_ID varchar(5),
	@PrinterSerial varchar(32),
	@PrinterMMD_ID varchar(5),
	@PinpadSerial varchar(32),
	@PinpadMMD_ID varchar(5),
	@NewConditionOfUnReservedDevice int,
	@DeviceType varchar(15)



 --init
 SELECT @ret = 0,
	@NewConditionOfUnReservedDevice = CASE WHEN @IsFaultyOutOfBox = 1 THEN 19 ELSE 37 END


 --Get Location for the user
 SELECT @Location = InstallerID
   FROM WebCAMS.dbo.tblUser
  WHERE UserID = @UserID

 SELECT @FSPOperatorNumber = -@Location


 --get kit details
 SELECT 
	@KitSerial = KitSerial,
	@KitMMD_ID = KitMMD_ID,
	@TerminalSerial = TerminalSerial,
	@TerminalMMD_ID = TerminalMMD_ID,
	@PrinterSerial = PrinterSerial,
	@PrinterMMD_ID = PrinterMMD_ID,
	@PinpadSerial = PinpadSerial,
	@PinpadMMD_ID = PinpadMMD_ID
  FROM Equipment_Kits 
 WHERE (KitSerial = @Serial AND KitMMD_ID = @MMD_ID) 
 	OR (PinpadSerial = @Serial AND PinpadMMD_ID = @MMD_ID) 
	OR (PrinterSerial = @Serial AND PrinterMMD_ID = @MMD_ID) 
	OR (TerminalSerial = @Serial AND TerminalMMD_ID = @MMD_ID) 

 --just a verification
 IF @@ROWCOUNT = 0 
	RETURN 0

 --if the scanned device is kit device, exit
 IF @KitSerial = @Serial AND @KitMMD_ID = @MMD_ID
	RETURN 0



 --Start Transaction
 DECLARE @bInCallerTransaction bit
 SET @bInCallerTransaction = @@TRANCOUNT
 IF @bInCallerTransaction = 0
	BEGIN TRAN



 --***step 1: remove the kit device from any job since it is virtual device
 DELETE IMS_Job_Equipment
  WHERE Serial = @KitSerial
	AND MMD_ID = @KitMMD_ID



 --***step 2: unpack kit
 SELECT @InvNote = 'KIT UNPACKED BY ' + Cast(@FSPOperatorNumber as varchar)
 
 --unpack terminal to FSP/19
 IF @TerminalSerial IS NOT NULL
  BEGIN
	 EXEC @ret = dbo.spChangeInventoryConditionLocation 
		@Serial = @TerminalSerial,
		@MMD_ID = @TerminalMMD_ID,
		@NewCondition = 19,
		@NewLocation = @Location,
		@Note = null,
		@AddedBy = @FSPOperatorNumber
	
	 IF @ret <> 0 
		GOTO RollBack_Handle	
   END

 --unpack printer to FSP/19
 IF @PrinterSerial IS NOT NULL
  BEGIN
	 EXEC @ret = dbo.spChangeInventoryConditionLocation 
		@Serial = @PrinterSerial,
		@MMD_ID = @PrinterMMD_ID,
		@NewCondition = 19,
		@NewLocation = @Location,
		@Note = null,
		@AddedBy = @FSPOperatorNumber
	
	 IF @ret <> 0 
		GOTO RollBack_Handle	
   END

 --unpack pinpad to FSP/19
 IF @PinpadSerial IS NOT NULL
  BEGIN
	 EXEC @ret = dbo.spChangeInventoryConditionLocation 
		@Serial = @PinpadSerial,
		@MMD_ID = @PinpadMMD_ID,
		@NewCondition = 19,
		@NewLocation = @Location,
		@Note = null,
		@AddedBy = @FSPOperatorNumber
	
	 IF @ret <> 0 
		GOTO RollBack_Handle	
   END


 --***step3: if kit parts are in other job equipment, we need to reserved them
 --terminal
 --reset
 SELECT @JobID = NULL

 --get job info
 SELECT @JobID = j.JobID,
	@TerminalID = ISNULL(j.TerminalID, ''),
	@DeviceType = ISNULL(j.DeviceType, '')  --used to decide Pinpad unpack condition
   FROM IMS_Jobs j JOIN IMS_Job_Equipment je ON j.JobID = je.JobID
  WHERE je.Serial = @TerminalSerial 
	AND je.MMD_ID = @TerminalMMD_ID 
	AND je.ActionID = 1 --IN ('INSTALL', 'CONFIRM')

 IF @JobID IS NOT NULL
  BEGIN
	--it is in another job, reserved it
	 SELECT @InvNote =  'RESERVED FOR INSTALL AT ' + @TerminalID + ' (JOB ' + CAST(@JobID as varchar) + ')'
	
	
	 --Update the device condition 9				
	 EXEC @ret = dbo.spChangeInventoryConditionLocation 
		@Serial = @TerminalSerial,
		@MMD_ID = @TerminalMMD_ID,
		@NewCondition = 9,
		@NewLocation = @Location,
		@Note = @InvNote,
		@AddedBy = @FSPOperatorNumber

  END
 ELSE
  BEGIN
	IF @TerminalSerial IS NOT NULL
	 BEGIN
		--only relocate to FSP/newcondition when it doesn't exist in inventory
		IF NOT EXISTS(SELECT 1 FROM Equipment_Inventory 
					WHERE Serial = @TerminalSerial
						AND MMD_ID = @TerminalMMD_ID
						AND Condition = @NewConditionOfUnReservedDevice
						AND Location = @Location)
		 BEGIN
			 --it is NOT in another job, mark it as FSP/37
			 SELECT @InvNote =  'PDA AUTO UNPACK KIT'
			
			
			 EXEC @ret = dbo.spChangeInventoryConditionLocation 
				@Serial = @TerminalSerial,
				@MMD_ID = @TerminalMMD_ID,
				@NewCondition = @NewConditionOfUnReservedDevice,
				@NewLocation = @Location,
				@Note = @InvNote,
				@AddedBy = @FSPOperatorNumber
	
		 END
	 END
  END

 --printer
 --reset
 SELECT @JobID = NULL

 --get job info
 SELECT @JobID = j.JobID,
	@TerminalID = ISNULL(j.TerminalID, '')
   FROM IMS_Jobs j JOIN IMS_Job_Equipment je ON j.JobID = je.JobID
  WHERE je.Serial = @PrinterSerial
	AND je.MMD_ID = @PrinterMMD_ID 
	AND je.ActionID = 1 --IN ('INSTALL', 'CONFIRM')


 IF @JobID IS NOT NULL
  BEGIN
	--it is in another job, reserved it
	 SELECT @InvNote =  'RESERVED FOR INSTALL AT ' + @TerminalID + ' (JOB ' + CAST(@JobID as varchar) + ')'

	 --Update the device condition 9				
	 EXEC @ret = dbo.spChangeInventoryConditionLocation 
		@Serial = @PrinterSerial,
		@MMD_ID = @PrinterMMD_ID,
		@NewCondition = 9,
		@NewLocation = @Location,
		@Note = @InvNote,
		@AddedBy = @FSPOperatorNumber
	
  END
 ELSE
  BEGIN
	IF @PrinterSerial IS NOT NULL
	 BEGIN
		--only relocate to FSP/newcondition when it doesn't exist in inventory
		IF NOT EXISTS(SELECT 1 FROM Equipment_Inventory 
					WHERE Serial = @PrinterSerial
						AND MMD_ID = @PrinterMMD_ID
						AND Condition = @NewConditionOfUnReservedDevice
						AND Location = @Location)
		 BEGIN
			--it is NOT in another job, mark it as FSP/37
			 SELECT @InvNote =  'PDA AUTO UNPACK KIT'
			
			
			 EXEC @ret = dbo.spChangeInventoryConditionLocation 
				@Serial = @PrinterSerial,
				@MMD_ID = @PrinterMMD_ID,
				@NewCondition = @NewConditionOfUnReservedDevice,
				@NewLocation = @Location,
				@Note = @InvNote,
				@AddedBy = @FSPOperatorNumber
		 END	
	 END
  END

 --pinpad
 --reset
 SELECT @JobID = NULL

 --get job info
 SELECT @JobID = j.JobID,
	@TerminalID = ISNULL(j.TerminalID, '')
   FROM IMS_Jobs j JOIN IMS_Job_Equipment je ON j.JobID = je.JobID
  WHERE je.Serial = @PinpadSerial
	AND je.MMD_ID = @PinpadMMD_ID 
	AND je.ActionID = 1 --IN ('INSTALL', 'CONFIRM')

 IF @JobID IS NOT NULL
  BEGIN
	--it is in another job, reserved it
	 SELECT @InvNote =  'RESERVED FOR INSTALL AT ' + @TerminalID + ' (JOB ' + CAST(@JobID as varchar) + ')'
	
	
	 --Update the device condition 9				
	 EXEC @ret = dbo.spChangeInventoryConditionLocation 
		@Serial = @PinpadSerial,
		@MMD_ID = @PinpadMMD_ID,
		@NewCondition = 9,
		@NewLocation = @Location,
		@Note = @InvNote,
		@AddedBy = @FSPOperatorNumber
	
  END
 ELSE
  BEGIN
	IF @PinpadSerial IS NOT NULL
	 BEGIN

		--use terminal's job devicetype to decide pinpad nwe condition,
		--Since job with DeviceType=VFEDC only uses Teminal/Printer as job equipment,
		--we should unpack Pinpad to new condition of 19
		IF @DeviceType = 'VFEDC' AND @IsFaultyOutOfBox = 0
		 BEGIN
			SELECT @NewConditionOfUnReservedDevice = 19
		 END
	
			
		--only relocate to FSP/newcondition when it doesn't exist in inventory
		IF NOT EXISTS(SELECT 1 FROM Equipment_Inventory 
					WHERE Serial = @PinpadSerial
						AND MMD_ID = @PinpadMMD_ID
						AND Condition = @NewConditionOfUnReservedDevice
						AND Location = @Location)
		 BEGIN
			 --it is NOT in another job, mark it as FSP/37
			 SELECT @InvNote =  'PDA AUTO UNPACK KIT'
			
			
			 --Update the device condition 9				
			 EXEC @ret = dbo.spChangeInventoryConditionLocation 
				@Serial = @PinpadSerial,
				@MMD_ID = @PinpadMMD_ID,
				@NewCondition = @NewConditionOfUnReservedDevice,
				@NewLocation = @Location,
				@Note = @InvNote,
				@AddedBy = @FSPOperatorNumber
		 END	
	 END
  END

 --***step 4: set kit device condition/location and move kit to history

 SELECT @InvNote = 'KIT UNPACKED BY ' + Cast(@FSPOperatorNumber as varchar)
 --Change Kit Condition location/86, location/20
 EXEC @ret = dbo.spChangeInventoryConditionLocation 
	@Serial = @KitSerial,
	@MMD_ID = @KitMMD_ID,
	@NewCondition = 86,
	@NewLocation = @Location,
	@Note = @InvNote,
	@AddedBy = @FSPOperatorNumber

 IF @ret <> 0 
	GOTO RollBack_Handle

 EXEC @ret = dbo.spChangeInventoryConditionLocation 
	@Serial = @KitSerial,
	@MMD_ID = @KitMMD_ID,
	@NewCondition = 20,
	@NewLocation = @Location,
	@Note = @InvNote,
	@AddedBy = @FSPOperatorNumber

 IF @ret <> 0 
	GOTO RollBack_Handle

 --Delete Kit from inventory
 DELETE Equipment_Inventory
  WHERE Serial = @KitSerial
	AND MMD_ID = @KitMMD_ID

 SELECT @ret = @@ERROR
 IF @ret <> 0 
	GOTO RollBack_Handle


 --Begin to move kit from Equipment Kit table to Equipment_Kits_History
 UPDATE Equipment_Kits
   SET DateUnpacked = GetDate(),
	UnpackNotes =@InvNote
   WHERE KitSerial = @KitSerial
	 AND KitMMD_ID = @KitMMD_ID
 
 SELECT @ret = @@ERROR
 IF @ret <> 0 
	GOTO RollBack_Handle

 INSERT Equipment_Kits_History
   	SELECT * FROM Equipment_Kits
		   WHERE KitSerial = @KitSerial
			 AND KitMMD_ID = @KitMMD_ID
 
 SELECT @ret = @@ERROR
 IF @ret <> 0 
	GOTO RollBack_Handle


 DELETE Equipment_Kits
   WHERE KitSerial = @KitSerial
	 AND KitMMD_ID = @KitMMD_ID
 
 SELECT @ret = @@ERROR
 IF @ret <> 0 
	GOTO RollBack_Handle
 --End to move kit from Equipment Kit table to Equipment_Kits_History



 --Commit
 IF @bInCallerTransaction = 0
	COMMIT TRAN

Exit_Handle:

 RETURN @ret

RollBack_Handle:
 IF @bInCallerTransaction = 0
	ROLLBACK TRAN
 GOTO Exit_Handle

GO
