USE CAMS
Go

if object_id('spWebGetSurveyAnswerNG') is null
	exec ('create procedure dbo.spWebGetSurveyAnswerNG as return 1')
go


ALTER PROCEDURE [dbo].[spWebGetSurveyAnswerNG] (
	@UserID int,
	@JobID		bigint
)
--<!--$$Revision: 1 $-->
--<!--$$Author: Bo $-->
--<!--$$Date: 25/08/15 8:54 $-->
--<!--$$Logfile: /eCAMSSource/SQL/SP/spWebGetSurveyAnswerNG.sql $-->
--<!--$$NoKeywords: $-->
AS
Declare @IsOK bit

 SET NOCOUNT ON

 --init
 select @IsOk = 0

 --verification
 if dbo.fnIsSwapCall(@JobID) = 1
  begin
	IF EXISTS(SELECT 1 FROM Calls c  WITH (NOLOCK) JOIN vwUserClientEquipmentCode u WITH (NOLOCK) ON c.ClientID = u.ClientID AND c.EquipmentCodes = ISNULL(u.EquipmentCode, c.EquipmentCodes)
			WHERE u.UserID = @UserID
			 	AND CallNumber = @JobID)
	  begin
		select @IsOk = 1
	  end
	else
	 begin
		IF EXISTS(SELECT 1 FROM Call_History c  WITH (NOLOCK) JOIN vwUserClientEquipmentCode u WITH (NOLOCK) ON c.ClientID = u.ClientID AND c.EquipmentCodes = ISNULL(u.EquipmentCode, c.EquipmentCodes)
				WHERE u.UserID = @UserID
			 		AND cast(CallNumber as varchar) = @JobID)
		  begin
			select @IsOk = 1
		  end
	 end
  end
 else
  begin
	 IF EXISTS(SELECT 1 FROM IMS_Jobs c WITH (NOLOCK) JOIN UserClientDeviceType u WITH (NOLOCK) ON c.ClientID = u.ClientID AND c.DeviceType = ISNULL(u.DeviceType, c.DeviceType)
				WHERE u.UserID = @UserID
			 		AND JobID = @JobID)
	  begin
		select @IsOk = 1
	  end
	else
	 begin
		 IF EXISTS(SELECT 1 FROM IMS_Jobs_History c WITH (NOLOCK) JOIN UserClientDeviceType u WITH (NOLOCK) ON c.ClientID = u.ClientID AND c.DeviceType = ISNULL(u.DeviceType, c.DeviceType)
					WHERE u.UserID = @UserID
			 			AND JobID = @JobID)
		  begin
			select @IsOk = 1
		  end
	 end
 end

 if @IsOk = 0
  begin
	raiserror ('You do not have persmission to access this job survey.',16,1)
  end
 else
  begin
	SELECT  s.SurveyName,
		s.JobType,
		QuestionText = sq.[Text],
		sa.AnswerID,
		sa.JobID,
		sa.SurveyID,
		sa.QuestionID,
		[Text]=case when sq.IsEncrypted = 1 then dbo.fnDecryptData(sa.TextExt) else sa.[Text] end,
		sq.QuestionTypeID,
		DisplayOrder = ROW_NUMBER() over (order by sa.AnswerID)
	  FROM tblSurveyAnswer sa
	  JOIN tblSurvey s ON (s.SurveyID = sa.SurveyID)
	  JOIN tblSurveyQuestion sq ON (sq.QuestionID = sa.QuestionID)
					AND (sq.IsPrivate = 0)
	  WHERE sa.JobID = @JobID
	  ORDER BY sa.AnswerID
 end
go

Grant EXEC on spWebGetSurveyAnswerNG to eCAMS_Role
Go
/*

EXECUTE spWebGetSurveyAnswerNG 210000, 20150501234

*/
